%h2= t.syntax_highlighter 
%form{:action => '/admin/plugins/syntax_highlighter', :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  .field
    %label{:for => 'syntax_highlighter_theme'}= t.syntax_highlighter_theme
    %br
    %select{:id => 'syntax_highlighter_theme', :name => 'syntax_highlighter_theme'}
      %option{:value => 'Default',    :selected => Option.syntax_highlighter_theme == 'Default'}=    t.syntax_highlighter_default 
      %option{:value => 'Django',     :selected => Option.syntax_highlighter_theme == 'Django'}=     t.syntax_highlighter_django 
      %option{:value => 'Eclipse',    :selected => Option.syntax_highlighter_theme == 'Eclipse'}=    t.syntax_highlighter_eclipse 
      %option{:value => 'Emacs',      :selected => Option.syntax_highlighter_theme == 'Emacs'}=      t.syntax_highlighter_emacs 
      %option{:value => 'FadeToGrey', :selected => Option.syntax_highlighter_theme == 'FadeToGrey'}= t.syntax_highlighter_fadetogrey 
      %option{:value => 'Midnight',   :selected => Option.syntax_highlighter_theme == 'Midnight'}=   t.syntax_highlighter_midnight 
      %option{:value => 'RDark',      :selected => Option.syntax_highlighter_theme == 'RDark'}=      t.syntax_highlighter_rdark
  .field
    %input{:type => 'submit', :value => t.edit}

%h3= t.syntax_highlighter_language
%table
  %thead
    %tr 
      %th 言語
      %td aliases
  %tbody
    %tr 
      %th AppleScript
      %td applescript
    %tr
      %th ActionScript3
      %td actionscript3 as3
    %tr
      %th Bash/shell
      %td bash shell
    %tr
      %th ColdFusion
      %td coldfusion cf
    %tr
      %th C++
      %td cpp c
    %tr
      %th C#
      %td c# c-sharp csharp
    %tr
      %th CSS
      %td css
    %tr
      %th Delphi
      %td delphi pascal
    %tr
      %th Diff
      %td diff patch pas
    %tr
      %th Erlang
      %td erl erlang
    %tr
      %th Groovy
      %td groovy
    %tr
      %th Java
      %td java
    %tr
      %th JavaFX
      %td jfx javafx
    %tr
      %th JavaScript
      %td js jscript javascript
    %tr
      %th Perl
      %td perl pl
    %tr
      %th PHP
      %td php
    %tr
      %th Plain Text
      %td text plain
    %tr
      %th Python
      %td py python
    %tr
      %th Ruby
      %td ruby rails ror rb
    %tr
      %th Sass
      %td sass scss
    %tr
      %th Scala
      %td scala
    %tr
      %th SQL
      %td sql
    %tr
      %th Visual Basic
      %td vb vbnet
    %tr 
      %th XML HTML
      %td xml xhtml xslt html
